<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools

## INTRODUCTION

An overview of the many data science tools and methods is given in this notebook. Examples of programming languages, tools, libraries, and fundamental arithmetic operations utilized in data science are provided.

## Data Science languages 
1. python
2. R
3. SQL
4. Java
5. Scala
6. JavaScript
7. Julia
8. C++

## Libraries
1. Matplotlib
2. Seaborn
3. Numpy
4. pandas
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTorch

## Data Science Tools
| Tool        | Description                             |
|-------------|-----------------------------------------|
| Jupyter     | Interactive computing environment       |
| RStudio     | IDE for R                               |
| Apache Spark| Unified analytics engine for big data   |
| Hadoop      | Framework for distributed storage       |
| Tableau     | Data visualization software             |

## Arithmetic Expression Examples
Here are some examples of basic arithmetic expressions:

In [15]:
result = (9 * 4) + 3
result

39

In [16]:
min = 60
hours = min / 60
hours

1.0

## Objectives
The objectives of this notebook are:
1. To introduce various data science tools and libraries.
2. To provide examples of basic arithmetic operations.
3. To demonstrate the use of Markdown and code cells in Jupyter Notebooks.

## Author
Anuj Harshbodhi